<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form action="/addUser" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Please input name"/><br>
    <input type="text" name="surname" placeholder="Please input surname"/><br>
    <input type="text" name="username" placeholder="Please input username"/><br>
    <input type="password" name="password" placeholder="Please input password"/><br>
    <select name="role">
        <option value="USER">user</option>
        <option value="ADMIN">admin</option>
    </select>
    <input type="file" name="image"/><br>
    <input type="submit" value="add">
</form>
<br>
<h3>All Users</h3>
<ul>
    <div th:each="user: ${users}" th:remove="tag">
        <img th:src="@{/image(name=${user.profilePic})}" width="20"
             th:if="${user.profilePic!=null && user.profilePic.length()!=0}"/>

        <li th:text="${user.name} + ' ' + ${user.surname}"></li>
        <a th:href="@{/deleteUser(id=${user.id})}">delete</a>

    </div>

</ul>


<h3>Add Category:</h3>
<form action="/addCategory" method="post" enctype="multipart/form-data">
    <input class="inp1" type="text" name="name" placeholder="Please input Category name"/><br>
    <input class="inp2" type="file" name="image"/><br>
    <input type="submit" value="add">
</form>
<br>
<br>
<br>
<h3>Add Image:</h3>
<form action="/addImage" method="post" enctype="multipart/form-data">
    <input class="inp1" type="text" name="name" placeholder="Please input Image name"/><br>
    <select name="category.id">
        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <input type="file" name="image"/><br>
    <input type="submit" value="add">
</form>
<h3>Category:</h3>

<ul>
    <div th:each="category:${categories}" th:remove="tag">

        <li th:text="${category.name}"></li>
        <img th:src="@{/image(name=${category.picUrl})}" width="20"
             th:if="${category.picUrl!=null && category.picUrl.length()!=0}"><br>
        <a th:href="@{/deleteCategory(id=${category.id})}">delete</a>
        <a th:href="@{/editCategory(id=${category.id})}">update</a>
        <br>
        <br>
        <br>

    </div>
</ul>
<h3>Images:</h3>

<ul>
    <div th:each="image:${images}" th:remove="tag">

        <li th:text="${image.name}"></li>
        <li th:text="${image.category.name}"></li>
        <li th:text="${image.uploadDate}"></li>
        <img th:src="@{/image(name=${image.picUrl})}" width="20"
             th:if="${image.picUrl!=null && image.picUrl.length()!=0}"><br>
        <a th:href="@{/deleteImage(id=${image.id})}">delete</a>
        <a th:href="@{/editImage(id=${image.id})}">update</a>
        <br>
        <br>
        <br>

    </div>


</ul>


</body>
</html>