<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="image:${images}" th:width="50">

    <div class="col-md-4 col-sm-6">
        <div class="portfolio-item">

            <div class="thumb">
                <div class="hover-effect">

                </div>
                <div class="image" th:width="50">
                    <img th:src="@{/image(name = ${image.picUrl})}">
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>